# Dependências
/vendor/
/node_modules/

# Arquivos sensíveis
.env

# Logs e cache
/writable/cache/*
/writable/debugar/*
/writable/logs/*
/writable/session/*
/writable/uploads/*

# Build front-end
/public/build/
/public/dist/

# IDE
.vscode/
.idea/
